<div>
    <h2 id="page-heading">
        <span>Wo Transport Modes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wo-transport-modes" [routerLink]="['/wo-transport-modes/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Wo Transport Modes
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="woTransportModes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Transport Modes</span></th>
            <th><span>Wo Customs Brokerage</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let woTransportModes of woTransportModes ;trackBy: trackId">
                <td><a [routerLink]="['/wo-transport-modes', woTransportModes.id, 'view' ]">{{woTransportModes.id}}</a></td>
                <td>
                    <div *ngIf="woTransportModes.transportModesId">
                        <a [routerLink]="['../transport-modes', woTransportModes.transportModesId , 'view' ]" >{{woTransportModes.transportModesId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="woTransportModes.woCustomsBrokerageId">
                        <a [routerLink]="['../wo-customs-brokerage', woTransportModes.woCustomsBrokerageId , 'view' ]" >{{woTransportModes.woCustomsBrokerageId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/wo-transport-modes', woTransportModes.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/wo-transport-modes', woTransportModes.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'wo-transport-modes', { outlets: { popup: woTransportModes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
