<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-wo-transport-modes-heading">Create or edit a Wo Transport Modes</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!woTransportModes.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_transportModes">Transport Modes</label>
                    <select class="form-control" id="field_transportModes" name="transportModes" formControlName="transportModesId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="transportModesOption.id" *ngFor="let transportModesOption of transportmodes; trackBy: trackTransportModesById">{{transportModesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_woCustomsBrokerage">Wo Customs Brokerage</label>
                    <select class="form-control" id="field_woCustomsBrokerage" name="woCustomsBrokerage" formControlName="woCustomsBrokerageId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="woCustomsBrokerageOption.id" *ngFor="let woCustomsBrokerageOption of wocustomsbrokerages; trackBy: trackWoCustomsBrokerageById">{{woCustomsBrokerageOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
