<div>
    <h2 id="page-heading">
        <span>Wo Packages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wo-package" [routerLink]="['/wo-package/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Wo Package
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="woPackages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Length</span></th>
            <th><span>Width</span></th>
            <th><span>Height</span></th>
            <th><span>Weight</span></th>
            <th><span>Cubed Weight</span></th>
            <th><span>Tracking Number</span></th>
            <th><span>Cod Value</span></th>
            <th><span>Insurance Amount</span></th>
            <th><span>Oid</span></th>
            <th><span>Position</span></th>
            <th><span>Freight Class</span></th>
            <th><span>Type</span></th>
            <th><span>Wo Package Type</span></th>
            <th><span>Wo Work Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let woPackage of woPackages ;trackBy: trackId">
                <td><a [routerLink]="['/wo-package', woPackage.id, 'view' ]">{{woPackage.id}}</a></td>
                <td>{{woPackage.description}}</td>
                <td>{{woPackage.length}}</td>
                <td>{{woPackage.width}}</td>
                <td>{{woPackage.height}}</td>
                <td>{{woPackage.weight}}</td>
                <td>{{woPackage.cubedWeight}}</td>
                <td>{{woPackage.trackingNumber}}</td>
                <td>{{woPackage.codValue}}</td>
                <td>{{woPackage.insuranceAmount}}</td>
                <td>{{woPackage.oid}}</td>
                <td>{{woPackage.position}}</td>
                <td>{{woPackage.freightClass}}</td>
                <td>{{woPackage.type}}</td>
                <td>
                    <div *ngIf="woPackage.woPackageType">
                        <a [routerLink]="['../wo-package-type', woPackage.woPackageType?.id, 'view' ]" >{{woPackage.woPackageType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="woPackage.woWorkOrder">
                        <a [routerLink]="['../wo-work-order', woPackage.woWorkOrder?.id, 'view' ]" >{{woPackage.woWorkOrder?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/wo-package', woPackage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/wo-package', woPackage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'wo-package', { outlets: { popup: woPackage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
